<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button (click)="logout()">
              <ion-icon name="log-out-outline"></ion-icon>
              Cerrar Sesión
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="adminh-content">
  <ion-grid class="adminh-grid">
      <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-md="8" size-lg="6">
              <h1 class="welcome-title ion-text-center"><h2>Bienvenido, {{ username }} (Admin)</h2></h1>
          </ion-col>
      </ion-row>

  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="gotoobjetosa()">Ver Objetos</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="gotosubir()">Subir Objeto</ion-button>
      </ion-col>
      <ion-col>
      <ion-button expand="full" (click)="goToHistorial()"> Ver Historial de Objetos Perdidos</ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="adminh-grid">
    <ion-list *ngIf="adminObjects && adminObjects.length > 0">
      <ion-item *ngFor="let obj of adminObjects">
        <ion-label>
          <h2>{{ obj.nombre }}</h2>
          <p>{{ obj.descripcion }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>

</ion-content>