ion-card {
  margin: 10px;
  border-radius: 8px;
}

ion-card img {
  width: 100%; // Asegúrate de que la imagen ocupe el ancho de la tarjeta
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
