<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Objetos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="6" size-lg="4">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">Audífonos Sony</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img alt="Objeto perdido" src="assets/img/perdido.jpg" />
          <p><strong>Sala: W304</strong></p>
          <p><strong>Hora:</strong> 8:30 AM</p>
          <p><strong>Descripción:</strong> Encontré unos audífonos Sony en la sala W304 al llegar, seguramente son de alguien del turno Vespertino.</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
