<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Objetos Perdidos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let objeto of objetos">
      <ion-card>
        <img [src]="objeto.foto" alt="Imagen del objeto perdido" />
        <ion-card-header>
          <ion-card-title>{{ objeto.nombre_objeto }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
