<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="home-grid">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <h1 class="ion-text-center">¡Bienvenido, {{ username }}!</h1>
      </ion-col>
    </ion-row>

    <h3>
      La página tiene como objetivo principal facilitar la cooperación entre los estudiantes del DuocUC. Está 
      diseñada para ayudarlos en situaciones en las que puedan necesitar apoyo, especialmente en casos como 
      la pérdida de sus pertenencias.
    </h3>
    <h3>
      El propósito es crear un entorno en el que los estudiantes puedan sentirse respaldados y seguros. Al 
      permitir que se ayuden mutuamente, la página busca promover un sentido de comunidad y solidaridad entre ellos. 
      De este modo, se pretende que los estudiantes puedan enfrentarse a problemas comunes de una manera más efectiva 
      y con mayor tranquilidad, sabiendo que cuentan con el apoyo de sus compañeros.
    </h3>
    <h3>
      En resumen, la página está orientada a mejorar el bienestar general de los estudiantes mediante la colaboración 
      y el apoyo mutuo, contribuyendo a un ambiente más agradable y seguro en la sede.
    </h3>
  </ion-grid>

  <ion-content class="po-mapa">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Sede DuocUC</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div id="map-container">
          <div id="map"></div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>

</ion-content>
