<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <h1 class="ion-text-center">Bienvenido, {{ username }}!</h1>
      </ion-col>

      
    </ion-row>

  </ion-grid>
  <ion-content>
    <div class="objetos-perdidos">
      Objetos Perdidos
    </div>
    <div class="subir-objetos-perdidos">
      Subir Objetos Perdidos
    </div>
  </ion-content>
</ion-content>